html, body {
    margin: 0;
    padding: 0;
    background-color: #303030;
    overflow: hidden;
  }
  canvas {
    display: block;
  }
  button#left {
    position: absolute;
    width: 10%;
    height: 5%;
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    font-size: 150%;
    border:#000000;
    text-align: center;
    top: 90%;
    left: 30%;
  }
  button#help {
    position: absolute;
    width: 10%;
    height: 5%;
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    font-size: 150%;
    border: #000000;
    text-align: center;
    top: 90%;
    left: 45%;
  }
  button#right {
    position: absolute;
    width: 10%;
    height: 5%;
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    font-size: 150%;
    border: #000000;
    text-align: center;
    top: 90%;
    left: 60%;
  }
  img#currentClue {
      position: absolute;
      width: 100%;
      top: 35%;
  }
  h1#title {
    font-size: 250%;
    font-family: monospace;
    color: hsl(0, 0%, 100%);
    text-align: center;
    left: 50%;
    margin-top: 30%;
    offset-anchor: 30%;
  }
